body {
    margin: 0;
    background: rgb(160, 214, 236);
    padding: 100px;
    font-family: 'Jura', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}
.section {
    background: #fff;
    width: 550px;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 10px;
}
.section__title {
    text-align: center;
    color: #000;
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.section__form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
}
.section__form-input {
    padding: 15px;
    font-size: 16px;
    margin-bottom: 25px;
    font-family: 'Jura', sans-serif;
    outline: none;
    border: 1px solid #000;
}
.section__form-input:focus {
    border: 1px solid #fff;
    transition: 0.2s;
    box-shadow: 0 2px 10px rgb(160, 214, 236);
}
.btn {
    border: none;
    background: rgb(105, 186, 218);
    padding: 25px;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
}
.btn:hover {
    transition: 0.5s;
    box-shadow: 0 2px 25px rgb(105, 186, 218);
}
/* Таблица */
table {
    font-size: 22px;
    text-align: center;
    margin: auto auto 40px auto;
}
th, td {
    background: #4db693;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
}
th:hover {
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 25px rgb(160, 214, 236);
}
